.home-page {
  height: 100vh;
  width: 100vw;
}
.popularDishes {
  margin: 0em;
}
.PCContainer {
  margin: 1em;
}
.menuTabs {
  width: 100vw;
}
.menuHeader {
  width: 100vw;
  height: 35vh;
  margin-top: 15vh;
}
element.style {
  padding: 0;
}

@media (max-width: 600px) {
  .menuHeader {
    margin-top: 25vh;
  }
}
@media (max-width: 510px) {
  .menuHeader {
    margin-top: 30vh;
  }
}
@media (max-width: 330px) {
  .menuHeader {
    margin-top: 35vh;
  }
}
